body {
  margin: 0 auto;
  padding: 0 auto;
  font-size: 16px; }

.containerMailheader {
  margin: 1px;
  background-color: #7b33a5; }

.mailHeader {
  margin-left: 20%;
  /* background-color: rgb(0, 0, 0); */
  /* text-decoration: none; */
  font-size: 120%;
  color: white;
  text-align: center;
  line-height: 15px; }

.mailHeader:hover {
  color: #bb8727; }

.navegacionPrincipal {
  max-width: 1200px;
  margin: 1px auto;
  padding: 0.2%;
  border: black 1%;
  width: 100%;
  background-color: #7b33a5;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between; }

main {
  max-width: 1200px;
  margin: auto; }

.carouselBanner {
  margin-top: 10px; }

.carousel-item {
  object-fit: cover; }

.cardsIndex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px auto; }

.cardsIndex-2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 10px auto; }

.verMas {
  background-color: rg; }
