.containerMailheader{
    margin: 1px;
    background-color: rgb(123, 51, 165);
}

.mailHeader{
    margin-left: 20%;
    /* background-color: rgb(0, 0, 0); */
    /* text-decoration: none; */
    @include textDesing (120%, white, center, 15px);
}
.mailHeader:hover{
    color: rgb(187, 135, 39);
}

.navegacionPrincipal{
    margin: 1px;
    padding: 0.2%;
    border:rgb(0, 0, 0) 1%;
    width: 100%;
    background-color: rgb(123, 51, 165);
    @include flexBox (row, wrap, space-between);
}

